<!DOCTYPE html>
<html>
  <body>

   <!-- <div>要素を追加し、「main」というclassをつけてください -->
    <div class = "main">
      <!-- <div>要素を追加し、「copy-container」というclassをつけてください -->
      <div class="copy-container">
        <h1 style="text-align:center">〜大腸癌にかからないために〜</h1>
        <h2 style="text-align:center">Prevention</h2>

      </div>

      <!-- <div>要素を追加し、「contents」というclassをつけてください -->
      <div class="contents">
        <h1 style="text-align:center"><%= link_to("さっそく診断", "http://localhost:3000/tops") %></h1>
        <p style="text-align:center">このアプリは大腸癌に罹患しないために、あなたが今抱えているリスク因子から、将来罹患する可能性を導き出し、サポートを行うことにより、罹患率低下を目指すものです。</p>
      



      </div>

    </div>

   <!-- <div>要素を追加し、「footer」というclassをつけてください -->



  </body>
</html>
