<html>
  <body>

   <!-- <div>要素を追加し、「main」というclassをつけてください -->
    <div class = "main2">
      <!-- <div>要素を追加し、「copy-container」というclassをつけてください -->
      <div class="copy-container2">
        <h1><%= @msh %></h1>
        <h2 style="text-align:center"><%= @data.name %></h2>

      </div>


    </div>



  </body>
</html>

