<%= form_tag(controller: "tops", action: "disease") do %>
  <html>
    <body>
      <h1 id = "d" style="text-align:center">大腸癌のリスク判定</h1>
      <p id = "a" style="text-align:center"><%= radio_button_tag("check","check0") %>
      <%= label_tag("check_check0", "赤身肉(牛、豚、羊、馬)摂取量が1日100g未満である") %></p>



      <p id = "b" style="text-align:center"><%= submit_tag("Click") %></p>
   </body>
  </html>
<% end %>

